body,
html {
  padding: 0;
  margin: 0;
  background-color: #eee;
  width: 100%;
}
.main {
  display: flex;
}
.ex {
  flex: 1;
}
.plus {
  align-self: center;
}
.Form {
  border: 1px solid green;
  width: 400px;
  height: 300px;
  left: 50%;
  top: 50%;
  position: absolute;
  margin-left: -200px;
  margin-top: -200px;
}
.Form .Add {
  color: blue;
  text-align: center;
  margin: 20px auto 40px auto;
}
