.pInformation{
    width: 240px;
    height: auto;
    margin-bottom: 30px;
}

.loginButton{
    width: 100%;
    height: 100%;
    color: white;
    background-color: #0099FF;
    padding: 0;
}
.logo {
  height: 32px;
  border-radius: 6px;
  margin: 16px;
}
.signoutButton {
    position: fixed;
    bottom: 50px;
    transition: all .2s;
}
/*.avatars{
    margin: 10px 60px;
    background-color: white;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    .avatar-uploader {
        display: block;
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
    }
    .avatar-uploader-trigger{
        width: 100px;
        height: 100px;
    }
    .avatar-uploader-trigger {
        display: table-cell;
        vertical-align: middle;
        font-size: 28px;
        color: #999;
    }
    .img{
        margin: 0;
    }
}*/
